<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registration Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item>
          <ion-label color="primary" stacked>Name</ion-label>
          <ion-input type="text" placeholder="Name Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Phone No</ion-label>
            <ion-input type="number" placeholder="Phone Input"></ion-input>
          </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Email</ion-label>
          <ion-input type="email" placeholder="Email Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Date of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" ></ion-datetime>
          </ion-item>
  </ion-list>
  <div padding>
      <button ion-button color="primary" block [navPush]="registerPinPage">Process</button>
    </div>
</ion-content>
