<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block>Sign In</button>
  </div>
  <ion-label center>Dont have account?</ion-label>
  <div padding>
    <button ion-button color="secondary" block [navPush]="registerPage">Register</button>
  </div>

</ion-content>
