<!--
  Generated template for the RegisterConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Confirmation-Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <img src="../../assets/imgs/registration.jpg"/>
        <ion-card-content>
          <ion-card-title>
              Registration Confirmation Page
            </ion-card-title>
          <p>
            Pastikan data data yang anda masukan sudah benar dan anda sudah membaca Term and Condition
          </p>
        </ion-card-content>
        <ion-item>
            <ion-icon name="logo-twitter" item-start></ion-icon>
            Nama
            <ion-badge item-end>Saptono</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon name="mail" item-start></ion-icon>
            Email
            <ion-badge item-end>emailku@gmail.com</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon name="phone-portrait" item-start></ion-icon>
            No Handphone
            <ion-badge item-end>081328499***</ion-badge>
        </ion-item>
        <ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            Tanggal Lahir
            <ion-badge item-end>08-08-1983</ion-badge>
        </ion-item>
      </ion-card>
      <div padding>
        <button ion-button color="primary" block [navPush]="registerResultPage">Process</button>
      </div>
</ion-content>
