<!--
  Generated template for the RegisterResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registration Success</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-icon name="checkmark-circle"></ion-icon>



    <ion-card-content>
      <ion-row justify-content-center align-items-center style="height: 100%">
        Terimakasih, Registrasi Emoney anda telah berhasil dilakukan
      </ion-row>
      <ion-row justify-content-center align-items-center style="height: 100%">
        Silahkan melakukan login untuk menikmati fasilitas layanan transaksi dari kami
      </ion-row>

      <div padding>
        <button ion-button color="primary" block [navPush]="homePage">Process</button>
      </div>

    </ion-card-content>



  </ion-card>
</ion-content>
