<!--
  Generated template for the RegisterPinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Input PIN Authentication</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div padding>
      <ion-label>Please Create New PIN</ion-label>
    </div>

    <ion-item>
        <ion-label color="primary" stacked>Your PIN </ion-label>
        <ion-input type="password" placeholder="Input PIN"></ion-input>
      </ion-item>


    <ion-item>
        <ion-label color="primary" stacked>Confirm Your PIN </ion-label>
        <ion-input type="password" placeholder="Input Confirm PIN"></ion-input>
      </ion-item>
      <div padding>
          <button ion-button color="primary" block [navPush]="registerConfirmPage">Process</button>
        </div>
</ion-content>
